hr:last-of-type {
    margin-top: 30px;
}


body {

    font-family: Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;

}

th,
td {

    width: 600px;
    height: 32px;
    border: solid 1px #ccc;
    padding-left: 5px;
}

th {

    background-color: #cccccce1;
}

tr:nth-child(odd) {

    background-color: #eceaea83;

}